:root {
  --theme-color: #e40000;
  --primary-color: #0d369f;
  --primary-light: #fcf1e7;
  --primary-dark: #ffc945;
  --secondary-color: #ff6e65;
  --font-color: #707070;
  --bg-color: #fff;
  --bg-color-2: #fff;
  --heading-color: #060606;
  --footer-color: #060e1f;
  --footer-cpy-color: #040a17;
  --border-radius: 30px;
  --border-radius-full: 15px;
  --border-color: transparent;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f9f9f9;
  --bg-light: #f8f9ff;
  --bg-dark-color: #fff;
  --quote-text-color: #1d2c4c;
  --paceholder-color-search: #6c757d;
  --bg-color-li: rgb(13 54 159 / 9%);
  --box-shadow-color: rgb(4 20 69 / 10%);
  --logo-color: #0d369f;
}

ul {
  margin: 0;
}

a {
  transition: all 0.5s;
}
a:hover {
  color: var(--secondary-color) !important;
  text-decoration: none;
}
